* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 50px;
}

h1, h2 {
	font-family: sans-serif;
}

form {
	width: 330px;
	margin: 20px auto;
	padding: 10px;
	border: 1px solid #eee;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.form-group {
	margin: 15px 25px;

}

.form-group label {
	display: block;
	margin-bottom: 3px;
	font-family: sans-serif;
	text-transform: lowercase;
	font-variant: small-caps;
	font-weight: bold;
	color: #F21B3F;
}

.form-group input, .form-group textarea  {
	width: 100%;
	height: 40px;
	padding: 7px 10px;
	font-size: 16px;
	font-family: monospace;
	border: 1px solid #ddd;
	border-radius: 5px;
	outline-width: 2px;
	outline-color: #51d267;
	outline-offset: -3px;
	color: #555;
}

.form-group textarea {
	height: 120px;
	resize: none;
}

.form-group select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 40px;
	margin-top: 10px;
	font-size: 16px;
	font-family: monospace;
	padding: 7px;
	background-image: url('down-arrow.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-x: calc(100% - 12px);
    background-position-y: 50%;
    border: 1px solid #ddd;
	border-radius: 5px;
	outline-width: 2px;
	outline-color: #51d267;
	outline-offset: -3px;
	color: #555;
}

.form-group input[type="radio"] {
	display: inline-block;
	width: initial;
	padding: 20px;
	float: left;
}

.form-group input[type="checkbox"] {
	display: inline-block;
	width: initial;
	height: initial;
}

.form-group .card-group {
	display: inline-block;
	width: initial;
	margin-right: 10px;
}

.card-group select {
	margin: 0px;
}

select#month {
	width: 70px;
}

select#year {
	width: 90px;
}

input#csv {
	width: 55px;
}

input#search-box {
	background-image: url('search-icon.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x: calc(100% - 8px);
    background-position-y: 50%;
    padding-right: 40px;
}

button[type="submit"] {
	border: none;
	outline: none;
	color: white;
	background-color: #43c358;
	font-size: 15px;
	font-family: monospace;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	-webkit-transition: box-shadow .2s ease-in-out;
	transition: box-shadow .2s ease-in-out;

}

button[type="submit"]:hover {
	cursor: pointer;
	box-shadow: none;
}

button[type="submit"]:active {
	color: #43c358;
	background-color: white;

}

#questionnaire p {
	margin-left: 30px;
	font-family: monospace;
}

#questionnaire hr {
	clear: both;
	width: 62%;
	border-color: #ddffe4;
}

form fieldset {
	font-family: monospace;
	border: 1px dotted #43c358;
	border-radius: 5px;
	margin: 5px;
}

form fieldset legend {
	color: #43c358;
}

form#login label {
	display: inline-block;
}



form#login h1 {
	text-align: center;
	color: #43c358;
}

form#login button {
	margin: 0;
	margin-bottom: 5px;
	width: 100%;
}

form#color textarea {
	resize: none;
	width: 100%;
	height: 50px;
}

#red-label {
	color: red;
}

#green-label {
	color: green;
}

#blue-label {
	color: blue;
}

#red-bar, #green-bar, #blue-bar {
	padding-left: 0;
	padding-right: 0;
	border: none;
}

#copy-label {
	display: inline-block;
}

form#addresses fieldset {
	margin-bottom: 20px;
}

