* {
	box-sizing: border-box;
}

h1, h2 {
	font-family: sans-serif;
}

form {
	width: 320px;
	margin: 20px;
	padding: 10px;
	border: 1px solid #eee;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.form-group {
	margin: 15px;
}

.form-group label {
	display: block;
	margin-bottom: 3px;
	font-family: sans-serif;
	text-transform: lowercase;
	font-variant: small-caps;
	color: #F21B3F;
}

.form-group input {
	width: 100%;
	height: 40px;
	padding: 7px 10px;
	font-size: 16px;
	font-family: monospace;
	border: 1px solid #ddd;
	border-radius: 5px;
	outline-width: 2px;
	outline-color: #51d267;
	outline-offset: -3px;
	color: #555;
}

.form-group select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 40px;
	margin-top: 10px;
	font-size: 16px;
	font-family: monospace;
	padding: 7px;
	background-image: url('down-arrow.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-x: calc(100% - 12px);
    background-position-y: 50%;
    border: 1px solid #ddd;
	border-radius: 5px;
	outline-width: 2px;
	outline-color: #51d267;
	outline-offset: -3px;
}

.form-group input[type="radio"] {
	display: inline-block;
	width: initial;
	padding: 20px;
	float: left;
}

input#search-box {
	background-image: url('search-icon.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x: calc(100% - 8px);
    background-position-y: 50%;
    padding-right: 40px;
}

button[type="submit"] {
	border: none;
	outline: none;
	color: white;
	background-color: #43c358;
	font-size: 15px;
	font-family: monospace;
	margin-left: 15px;
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	-webkit-transition: box-shadow .2s ease-in-out;
	transition: box-shadow .2s ease-in-out;

}

button[type="submit"]:hover {
	cursor: pointer;
	box-shadow: none;
}

button[type="submit"]:active {
	color: #43c358;
	background-color: white;

}

#questionnaire p {
	margin-left: 30px;
	font-family: monospace;
}

#questionnaire hr {
	clear: both;
	width: 62%;
	border-color: #ddffe4;
}

form fieldset {
	font-family: monospace;
	border: 1px dotted #43c358;
	margin: 5px;
}

form fieldset legend {
	color: #43c358;
}

